.container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-box {
    max-width: 492px;
    width: 95%;
    background-color: rgb(26, 26, 28) !important;
    border-radius: 4px;
    height: fit-content;
    margin-top: 20px;
    color: rgb(180, 180, 183);
}

.return-address {
    display: flex;
    align-items: center;
    color: rgb(149, 149, 149);
    height: 45px;
    background-color: rgb(43, 43, 43);
    margin-top: 20px;
    cursor: pointer;
}

.return-address > input {
    background-color: transparent;
    cursor: pointer;
    border-style: none;
    color: inherit;
    outline: none;
    text-align: center;
    width: 100%;
    padding-left: 20px;
}

.footer-buttons {
    padding: 20px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    
}
.add-keyring-qr {
    width: 100%;
    display: flex;
    justify-content: center;
}

.add-network-container {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .add-network-container{
        flex-direction: column;
    }
}

.add-network-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    border: none;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 25px;
    height: 50px;
    width: 100%;
    max-width: 110px;
    padding: 0 25px;
}

.add-network-wrapper:hover {
    opacity: 0.8;
}

.add-network-sub-text {
    color: #B4B4B7;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: -0.02em;
}

.add-network-button {
    display: flex;
    align-items: center;
    color: white;
    margin-top: 2px;
    font-size: 0.9rem;
    font-weight: 600;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: -0.02em;
}

@media screen and (max-width: 500px) {
    .footer-buttons {
        padding: 20px 20px 0px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
    }

    .footer-buttons > button {
        margin-top: 10px;
    }
}